@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Oldenburg');

body {
    font-family: 'Oldenburg', cursive, sans-serif;
}

h1 {
    font-family: 'Bungee Shade', cursive, sans-serif;
    background-color: gainsboro;
    padding: 10px;
    font-size: 60px;
}

h3 {

}

input[type=text] {
    font-size: 16px;
    padding: 10px;
    width: 500px;
}

.filterMovie {
    background-color: gainsboro;
    padding: 10px;
}

select {
    font-size: 15px;
    padding: 15px;
    width: 150px;
    height: 42px;
}

button:hover, input[type=button]:hover {
    background-color:rgb(206, 206, 206);
}

button , input[type=button] {
    background-color: white;
    padding: 3px 40px;
    font-family: Verdana;
    font-size: 14px;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 6px;
    transition-duration: 0.4s;
}

.button1 {
    background-color: white;
    padding: 10px 40px;
    font-family: Verdana;
    font-size: 16px;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 6px;
    transition-duration: 0.4s;
}